html {
	overflow-x:scroll;
}
body{
	font-family: Arial, sans-serif;
}
@keyframes comming{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
@keyframes topshift{
	from{
		opacity: 0;
		margin-top: -80px;
	}
	to{
		opacity: 1;
		margin-top: 0px;
	}
}
.menu li:nth-child(2){
	animation-delay:0.4s;
}
.menu li:nth-child(3){
	animation-delay:0.8s;
}
.menu li:nth-child(4){
	animation-delay:1.2s;
}
.menu li:nth-child(5){
	animation-delay:1.6s;
}
.menu li:nth-child(6){
	animation-delay:2.0s;
}
@keyframes display1{
	from{
		opacity: 0;
		margin-left: -500px;
	}
	to{
		opacity: 1;
		margin-left: 0px;
	}
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #e0e0e0;
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}
.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #337ab7;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}
.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes preloader-bounce {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 1s opacity;
  opacity: 0;
}
.loaded .preloader {
  display: none;
}
p{letter-spacing: -1px}
nav{
	width: 100%;
	height: 61px;
	background: #344051;
	position: fixed;
	z-index: 10;
}
.logo{
	color: #fff;
	font-size: 25px;
	line-height: 61px;
	float: left;
	animation: comming 2s ease;
}
main{
	width:100%;
	height:100%;
}
.menu{
	float: left;
}
.menu li {
	float: left;
	line-height: 61px;
	color: #fff;
	margin-right: 40px;
	font-size:14px;
	text-transform: uppercase;
	animation: topshift 0.4s ease forwards;
	opacity:0;
}
.menu li a{
	transition: all 0.1s;
	color:white;
	transform: scale(1);
	display:inline-block;
	text-decoration: none;
}
.menu li a:visited{
	color:white;
}
.menu li a:hover{
	color: #e88604;
}

.menu li a:active{
	transform:scale(1.1);
}
.main{
	width:100%;
	height:100%;
	background:url(../img/boy.png) 85% 100%/auto 85% no-repeat,url(../img/bg.jpg) center/cover no-repeat;
}
.title_conteiner{
	float: left;
	color: #2c384a;
	text-align: center;
	width: 100%;
	opacity: 0;
	animation:display1 3s forwards;
}
.title_conteiner h1{
	font-size: 72px;
	font-weight:bold;
	letter-spacing: -3px;
}
.title_conteiner h4{
	margin-top:40px;
	font-size: 22px;
	color: #79818d;
}
.title_conteiner input{
	transition: all 0.2s;
	transform: scale(1);
	height: 40px;
	text-align: center;
	border: 2px solid #6d7682;
	background:none;
	border-radius: 5px;
	color: #6d7682
	font-size: 13px;
	padding:0px 16px;
	margin: 58px 14px 0px 14px;
}
.title_conteiner input:hover{
	background: #6d7682;
	color:white;
}
.title_conteiner input:active{
	transform: scale(1.1);
}

.main_title2{
	width: 100%;
	height: 730px;
	background: #fcfdfd;
}
.text2{
	text-align: center;
}
.text2 h4{
	padding-top: 60px ;
	color: #263244;
	font-size: 35px;
	font-weight:bold;
	text-transform: uppercase;
	letter-spacing: -3px;
	text-decoration: underline;
	text-decoration-color: #d17700;
	animation: comming 2s ease;
}
.avatar{
	margin:40px; 
	height: 200px;
	padding:27px;
	animation: comming 2s ease;
}
.text2 p{
	color: #3f495a;
	font-size: 16px;
	font-weight: 600;
}
.download{
	transition: all 0.2s;
	transform: scale(1);
	border:3px solid;
	border-radius: 5px;
	height:59px;
	color:#6f707e;
}
.download h6{
	color:#6f707e
	font-size: 16px;
}
	
.download img{
	height:19px
}
.download:hover{
	background:#dee1e4;
	color:#6f707e;
	border-radius: 5px;
}
.download:active{
	transform: scale(1.1);
}
.text2 h3{
	padding-bottom:20px;
	font-size: 16px;
	color: #9a9ea5;
}
.str3{
	background:url(../img/bg2.jpg) no-repeat ;
	width:100%;
	height:520px;
}
.title3 h2{
	text-align: center;
	padding-top: 80px ;
	color: #263244;
	font-size: 35px;
	font-weight:bold;
	text-transform: uppercase;
	letter-spacing:-3px;
	text-decoration: underline;
	text-decoration-color: #d17700;
	animation: comming 2s ease;
}
.str3 h4{
	font-size:16px;
	color: #cf7600;
	font-weight:bold;
	padding-top:39px;
	text-align: center;
}
.str3 img{
	display: block;
    margin: 0 auto; 
}
.str3 p{
	padding-top:10px; 
	font-size: 14px;
	letter-spacing:0px;
	color: #515a69;
	text-align: center;
}
.item_skills1{
	border: 0px solid #000;
	max-width: 213px;
	height:158px;
	margin-top: 100px;
	animation: comming 2.4s ease;
}

.item_skills2{
	border: 0px solid #000;
	max-width: 213px;
	height:158px;
	margin-top: 100px;
	animation: comming 3.2s ease;
}
.item_skills3{
	border: 0px solid #000;
	max-width: 213px;
	height:158px;
	margin-top: 100px;
	animation: comming 4s ease;
}
.item_skills4{
	border: 0px solid #000;
	max-width: 213px;
	height:158px;
	margin-top: 100px;
	animation: comming 4.8s ease;
}
.str4{
	width: 100%;
	height: 2150px;
	background: #fff;
}
.title4 h2{
	text-align: center;
	padding-top: 110px ;
	color: #384354;
	font-size: 35px;
	font-weight:bold;
	text-transform: uppercase;
	letter-spacing:-3px;
	text-decoration: underline;
	text-decoration-color: #d17700;
}
.title4 p{
	color:#626976;
	font-size: 16px;
	margin-top:70px;
	text-align: center;
}
.str4 img{
	width: 1068px;
	height:auto;  
}
.str4 h3{
	color: #384354;
	font-size:17px;
	font-weight:bold;
	text-transform: uppercase;
	letter-spacing:-1px;
}
.str4 p{
	padding-top:11px; 
	font-size:14px;
	letter-spacing:0px;
	color: #3f495a;
	font-weight: 600;
}
.client{
	border: 0px solid #000;
	width:285px;
	height:68px;
}
.name_project{
	border: 0px solid #000;
	width:850px;
	max-height:100px;
}
.text5 {
	padding-top:13px; 
	font-size:16px;
	letter-spacing:0px;
	color: #3f495a;
	font-weight: 600;

}
.website{
	border: 0px solid #000;
	max-width:285px;
	max-height:68px;
}
.button2 {
	height:44px;
	width:201px;
	color: #63b5ae;
	border-radius: 5px;
	border:1px solid;
	background:#63b5ae;
}
.button2 div{
	color:#fff;
	font-size:17px;
	font-weight:bold;
	text-transform: uppercase;
	padding-top:-5px; 
}
.button2:hover{
	border:#d17700 solid;
	border-radius: 5px;
}
.button2:active{
	transform: scale(1.1);
}
.title5{
	background:#fff;
	box-shadow: 0px 0px 10px black; 
	height:760px;
	width:980px;
	margin:170px auto;
}
.title5 h4{
	color:#1c2534;
	margin-top:200px;
	font-size:37px;
	font-weight:bold;
	text-align: center;
	letter-spacing:-1px;
	padding-top: 40px;
}
.title5 p{
	color:#1c2534;
	font-size:20px;
	font-weight: 400;
	letter-spacing:-1px;
	padding-top: 45px;
	text-align: left;
}
.title5 select{
	background: #eeeeee;
}
.text7{
	border-top:2px solid;
	max-width:891px;
	max-height: 74px;
	color: #d1d1d1;
	margin-top: 60px;
}
.text7 h2{
	padding-top:10px;
	font-size:15px;
	letter-spacing:0px;
	color:#1c2534;
	font-weight: 600;
	float:left;
	width: 96%;
	text-align: left;
}
.text7 h5{ 
	font-size:17px;
	color:#1c2534;
	font-weight: 600;
}
.text7 h6{ 
	font-size:17px;
	color:#1c2534;
	font-weight: 600;
}

.title6 h2{
	text-align: center;
	padding-top: 107px ;
	color: #263244;
	font-size: 35px;
	font-weight:bold;
	text-transform: uppercase;
	letter-spacing:-3px;
	text-decoration: underline;
	text-decoration-color: #d17700;
}

.str5 h4{
	font-size:16px;
	color: #323e4f;
	font-weight:bold;
	margin-top:17px;
	text-align: center;
}
.str5 img{
	display: block;
    margin: 0 auto; 
}
.str5 p{
	margin-top:20px;
	text-align:center; 
	font-size:35px;
	color:#323e4f;
	font-weight:bold;
}
.happy_client{
	border:0px solid #000;
	max-width:213px;
	height:160px;
	margin-top:100px; 

}

.Opening_hours{
	border:0px solid #000;
	max-width: 213px;
	height:160px;
	margin-top:100px;
	}
.end_project{
	border: 0px solid #000;
	max-width:213px;
	height:160px;
	margin-top:100px;
}
.awards{
	border: 0px solid #000;
	max-width: 213px;
	height:160px;
	margin-top:100px;
}
.conteiner {
	background:#fff; 
	height:590px;
	width:100%;
}
.conteiner h2{
	text-align: center;
	padding-top: 107px ;
	color: #243042;
	font-size: 35px;
	font-weight:bold;
	text-transform: uppercase;
	letter-spacing:-3px;
	text-decoration: underline;
	text-decoration-color: #d17700;
}
.conteiner1 {
	border:0px solid;
	max-height:278px;
	max-width: 690px;
	margin:95px auto;	 
}
.conteiner p{
	font-size: 18px;
	text-align: center;
	padding-top:11px; 
	font-size:12px;
	letter-spacing:0px;
	color: #243042;
	font-weight: 600;
}
.conteiner img{
	display: block;
    margin: 0 auto; 
}
.conteiner form{
	text-align: center; 
}
.conteiner input{
	background:#c96500;
}
.conteiner3 {
	background: url(../img/bg3.jpg)no-repeat;
	height: 808px;
	width:100%
}
.conteiner3 p{
	color:#fff;
	text-align: center;
	margin-top:50px;
	letter-spacing:0px;
}
.conteiner3 h4{
	color:#fff;
	font-size: 16px;
	padding-top:8px;
	text-align: center;
}
.conteiner3 h2{
	text-align: center;
	padding-top: 107px ;
	color: #fff;
	font-size: 35px;
	font-weight:bold;
	text-transform: uppercase;
	letter-spacing:-2px;
	text-decoration: underline;
	text-decoration-color: #d17700;
}
.location {
	border: 0px solid;
	color: #fff;
	max-height:70px;
	width:155px;
}
.Mail {
	border: 0px solid;
	color: #fff;
	max-height:70px;
	max-width:160px;
}
.namber {
	border: 0px solid;
	color: #fff;
	max-height:70px;
	width:155px;
}
.conteiner3 img{
	display: block;
    margin: 0 auto; 
	}
.footer p{
	text-align: center;
	color: #fff;
	font-size: 32px;
	text-transform: uppercase;
	letter-spacing:-1px;
}
form{
	text-align: center;
}
.buttonint{
	margin-top:18px;
	border:2px #fff solid;
	border-radius:5px;
	height: 47px;
	width: 125px; 
	background-color: rgba(0, 0, 0, 0);
	font-size: 17px;
	color: #fff;
}
.parallax{
	/* Используемое изображение */
	background-image:url("../img/bd3.jpg");
	/* Установите определенную высоту */
	min-height: 500px;
	width:100%;

	/* Создайте эффект параллакса прокрутки */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.buttonint:hover{
	background: #6d7682;
	color:white;
}
.buttonint :active{
	transform: scale(1.1);
}
.conteiner1 input:hover{
	background:  #e88604;
}
.conteiner1 input:active{
	transform: scale(1.1);
}
.white-btn:visited{
	color: #fff;
}
@media (max-width: 991px){
	.title_conteiner, .title_conteiner h4, .title_conteiner input{
		color: white;
		position: relative;
		z-index: 3;
	}
	.title_conteiner input{
	border: 2px solid #fff;
	}
	.main{
		position: relative;
	}
	.main:after{
		content:"";
		bottom:0;
		top:0;
		left: 0;
		right: 0;
		position: absolute;
		background: rgba(0,0,0,0.4);
	}
	.title5{ 
	width:auto;
	}
}
@media (max-width: 768px){
	.str3{
		background:url(../img/bg6.jpg) repeat ;
		width:100%;
		height:780px;
	}
	.parallax{
	/* Используемое изображение */
	background-image:url("../img/bg6.jpg");
	height:780px;
	width:100%;
	}
	.str4{
	width: 100%;
	height: 1950px;
	background: #fff;
	}
}
@media (max-width: 1230px){
	.name_project{
	width:auto;
	height: auto;
	}
}
@media(max-width: 491px){
	.text5 {
	padding-top:5px; 
	font-size:12px;
	}
	.client{
	width:auto;
	height:auto;
	}
	.website{
	width:auto;
	height:auto;
	}
	.main_title2{
	width: 100%;
	height: 755px;
	}
	.half-str4 p{
	padding-top:5px; 
	font-size:12px;
	}
}
.button3 {
	margin-top: 40px;
	height:45px;
	width:201px;
	position: relative;
	color: #63b5ae;
	border-radius: 5px;
	border:1px solid;
	background:#63b5ae;
}
.button3 div{
	color:#fff;
	font-size:16px;	
}
.button3:hover{
	border:#d17700 solid;
	border-radius: 5px;
}
.button3:active{
	transform: scale(1.1);
}
textarea{
	height: 90px;
}